
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 8%;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #cfa7a7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  /* Register.css */

.register-box {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 400px;
  background-color: #8f8888;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(11, 237, 218, 0.1);
}
button[type="submit"] {
  background-color: #007bff; /* Blue background color */
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
