.vid__container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: auto;
    margin-top: 65px;
}


.video-container:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

.video-react-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-react {
    width: 100%;
    height: 100%;
}

.workprocess {
    background-color: #faf7f2;
}

.section__title {
    padding-top: 3%;
    font-size: 24px;
    color: #333;
}

.para__text {
    color: #555;
    font-size: 18px;
}
.workprocess{
    padding-top: 15px;
    margin-top: 20px;
}

.control-player-container {
    display: flex;
    flex-direction: row;
}

/* .video-container {
    flex: 1;
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
} */


.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for the video container */
    overflow: hidden; /* Hide overflowing content */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add an initial box shadow */
    transition: box-shadow 0.3s ease-in-out; /* Add a transition for hover effect */
    
}

.video-info{
    margin-top: 40px;
    margin-bottom: auto;
}

.book-description{
    margin-top: 20px;
    color: grey;
    font-size: 15px;
}

.book-title{
    font-size: 40px;
    text-align: center;
}