.sec{
    font-size: 20px;
    font-weight: 100px;
}

.con{
    color: grey;
    margin-top: 0.5%;
    margin-bottom: 2%;
}

.t1{
    margin-bottom:3% ;
}

.tc{
    margin: 40px 120px;
}
