span{
     
    color: black;
}

.pp1{
    margin-top: 5%;
    margin-bottom: 2%;
}

.pp2{
    margin-top: 1%;
    margin-bottom: 0%;
}

.pps{
    color: grey;
    margin-top: 2%;
}

.pp{
    margin: 40px 120px;
  
}

.faqlast{
    margin-top: 4%;
}

